<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Here are some Angular Widget with Accessibility fix:
  </h1>
</div>
<h2> </h2>
<div class="row">
  <div class="col-xs-12">
   <ul class="nav nav-pills">
    <li routerLinkActive="active"> <a [routerLink]="['/accordions']" >Accordions</a></li>
    <li routerLinkActive="active"> <a [routerLink]="['/duplicateid']" >DuplicateID</a></li>
   </ul>
 </div>
</div>

<router-outlet></router-outlet>

